[Unit]
Description=A matrix bot that does amazing things!

[Service]
Type=simple
User=vetting-bot
Group=vetting-bot
WorkingDirectory=/path/to/vetting-bot/docker
ExecStart=/usr/bin/docker-compose up vetting-bot
ExecStop=/usr/bin/docker-compose stop vetting-bot
RemainAfterExit=yes
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target